---
layout: default
class: home
---

<section class="hero dark-blue-bg">
  <div class="hero__content">
    <h1 class="hero__title white">Welcome to Hastings Digital</h1>
    <p class="lede white">We produce high quality, performant and affordable websites and apps</p>
  </div>
</section>

<section class="light-grey-bg u-padding-top-large u-padding-bottom-large">
  <div class="o-wrapper">
    <div class="o-layout o-layout--large">
      <div class="o-layout__item u-1/3@tablet u-1/3@desktop u-1/3@wide">
        <div class="o-block o-block center">
            <svg class="icon icon--large o-block__img">
              <use xlink:href="#icon-phone"></use>
            </svg>
          <div class="o-block__body">
            <h2>Responsive</h2>
            <p>We build high-quality <a href="/services">mobile friendly websites</a> that are fast and affordable. </p>
          </div>
        </div>
      </div>
      <div class="o-layout__item u-1/3@tablet u-1/3@desktop u-1/3@wide">
        <div class="o-block o-block center">
            <svg class="icon icon--large o-block__img ">
              <use xlink:href="#icon-bubbles2"></use>
            </svg>
          <div class="o-block__body">
            <h2>Expertise</h2>
            <p>We have expertise in a range of Content Management systems such as Joomla, Expression Engine and Wordpress.</p>
          </div>
        </div>
      </div>
      <div class="o-layout__item u-1/3@tablet u-1/3@desktop u-1/3@wide">
        <div class="o-block o-block center">
            <svg class="icon icon--large o-block__img">
              <use xlink:href="#icon-wrench"></use>
            </svg>
          <div class="o-block__body">
            <h2>Apps</h2>
            <p>Need an app? No problem. We can build state of the art web apps that cost a fraction of the price of traditional 'apps'.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white-bg u-padding-top-large u-padding-bottom-large">
  <div class="o-wrapper">
    <div class="o-layout">
      {% for member in site.data.clients %}
        <div class="o-layout__item u-1/3@tablet u-1/3@desktop u-1/3@wide">
          <div class="c-logo">
            <img src="{{ member.logo }}" alt="{{ member.name}} logo" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="light-grey-bg">
  <div class="o-wrapper">
    {% for testimonial in site.data.testimonials %}
      <blockquote class="testimonial">
        <p>{{ testimonial.quote }}</p>
        <footer>&mdash;{{ testimonial.name }}</footer>
      </blockquote>
    {% endfor %}
  </div>
</section>
