---
title: Web Design & Development | Hastings, East Sussex
layout: default
class: home
excerpt: At Hastings Digital we provide a friendly website design and build servive
  via our base in Hastings, East Sussex. Our experience gives us the edge when it
  comes to building fast, functional and affordable websites. Get in touch today and
  let us know about your project!
---

<section class="dark-blue-bg">
	<div class="o-wrapper">
		<div class="hero">
			<div class="hero__image">
        <svg class="icon">
          <use xlink:href="#icon-embed2"></use>
        </svg>
				</div>
  <div class="hero__content ">
    <h1 class="hero__title white">We <strong>design</strong> and <strong>build</strong> great looking, fast and accessible websites based in the lovely seaside town of Hastings, East Sussex.</h1>
     <p class="u-margin-bottom-none lede white">
		 <strong>Have a project in mind?</strong>
      <a class="c-btn c-btn--ghost c-btn--tertiary u-margin-left" href="/contact/">
        Get in touch!
      </a>
    </p>
  </div>
	</div>
</section>

<section class="light-grey-bg u-padding-top-large u-padding-bottom-large">
  <div class="o-wrapper">
    <div class="o-layout o-layout">
      {% for usp in site.data.usps %}
      <div class="o-layout__item u-1/2@tablet u-1/2@desktop u-1/2@wide">
        <div class="o-media u-margin-bottom">
          <svg class="icon icon--large o-media__img">
            <use xlink:href="{{ usp.icon }}"></use>
          </svg>
          <div class="o-media__body">
            <h3>{{ usp.title }}</h3>
            <p>{{ usp.text }} </p>
            <p><a class="c-btn c-btn--secondary c-btn--small" href="{{ usp.link }}">Learn more</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="white-bg u-padding-top-large u-padding-bottom-large">
  <div class="o-wrapper">
    <h2>Our work</h2>
    <p>We work with companies large and small but whatever the size we like to establish long lasting relationships with the people we work with so we can offer the right guidance. See some of the companies we're proud to work with below.</p>
    <div class="o-layout">
      {% for member in site.data.clients %}
        <div class="o-layout__item u-1/3@tablet u-1/3@desktop u-1/3@wide">
          <div class="c-logo u-margin-bottom">
            <img src="{{ member.logo }}" alt="{{ member.name}} logo" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
