---
title: Web Design Hastings, East Sussex
layout: default
class: home
excerpt: We offer high quality web design in and around Hastings, East Sussex. We're
  experts in responsive website design with a focus on quality and affordability.
last_modified_at: '2017-03-28'
---

<section class="dark-blue-bg">
	<div class="o-wrapper">
		<div class="hero">
			<div class="hero__image">
        <svg class="icon">
          <use xlink:href="#icon-embed2"></use>
        </svg>
				</div>
  <div class="hero__content ">
	<h1 class="hero__title white u-margin-bottom-none"><strong>Web design Hastings, East Sussex.</strong></h1>
	<h2 class="hero__tagline white">Hastings Digital <strong>design</strong> and <strong>build</strong> great looking, fast and afforable websites. Simple!</h2>
     <p class="u-margin-bottom-none lede white">
		 <strong>Have a project in mind?</strong>
      <a class="c-btn c-btn--ghost c-btn--tertiary u-margin-left" href="/contact/">
        Get in touch!
      </a>
    </p>
  </div>
	</div>
</section>

<section class="light-grey-bg u-padding-top-large u-padding-bottom-large">
      {% for usp in site.data.usps %}
      <div class="{{ usp.layout }}">
      <div class="u-1/2@tablet">
        <picture>
          <source srcset="http://via.placeholder.com/960x480" media="(min-width: 1300px)" >
          <source srcset="http://via.placeholder.com/840x480" media="(min-width: 980px)" >
          <source srcset="http://via.placeholder.com/480x480" media="(min-width: 640px)" >
          <img src="http://via.placeholder.com/640x240" />
        </picture>
        </div>
          <div class="u-1/2@tablet u-padding-left u-padding-right">
            <h2>{{ usp.title }}</h2>
            <p>{{ usp.text }} </p>
            <!-- <p>
						  <a class="c-btn c-btn--secondary c-btn--small" href="{{ usp.link }}">
							{{ usp.anchortext }} &nbsp; <strong>&rarr;</strong>
							</a>
						</p> -->
          </div>
        </div>
      {% endfor %}
</section>

<section class="white-bg u-padding-top-large u-padding-bottom-large">
  <div class="o-wrapper">
    <h2>We work with...</h2>
    <p class="u-3/4@desktop">...a range of companies large and small. Not only do we design fantastic looking websites but we also offer ongoing support and maintenance for agencies and companies. Read more about our work.</p>
    <ul class="c-client-list">
      {% for member in site.data.clients %}
        <li class="c-client-list__item">
          <img class="c-client-list__logo" src="{{ member.logo }}" alt="" title="{{ member.name}}" />
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include testimonials.html %}
