// Various alignment classes etc

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.u-hidden-tablet-up {
  @include mq($from:tablet){
    display:none;
  }
}

.u-hidden-mobile {
  @include mq($until: tablet) {
    display:none;
  }
}
