<footer>
  <div class="o-wrapper">
    <div class="o-layout">
      <div class="o-layout__item  u-1/4@tablet  u-1/4@desktop">
        <header>
          <h6>About Us</h6>
        </header>
        <nav>
          <a href="/about-us">About Us</a>
          <a href="/services">Services</a>
        </nav>
      </div>
      <div class="o-layout__item u-1/4@tablet u-1/4@desktop">
        <header>
          <h6>Contact Us</h6>
        </header>
        <nav>
          <a href="contact-us">Contact Us</a>
        </nav>
      </div>
      <div class="o-layout__item u-1/4@tablet u-1/4@desktop">
        <header>
          <h6>Policies</h6>
        </header>
        <nav>
          <a href="/privacy-policy">Privacy Policy</a>
          <a href="#">Terms of website use</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
