<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">{{ site.title }}</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Privacy & Terms</a></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer--right-section">
    <a class="mdl-typography--font-light" href="#top">
      Back to Top
      <i class="material-icons">expand_less</i>
    </a>
  </div>
</footer>
