<footer class="footer">
  <div class="mw8 center flex">
    {% for section in site.data.footer-contact.sections %}
      <div class="w-50-m w-25-ns">
      <h4>{{ section.title }}</h4>
      {% if section.content %}
        <p>{{ section.content }}</p>
      {% endif %}
      {% if section.links %}
      {% for link in section.links %}
        <a href="{{ link.url }}" class="db mb2 flex items-center">
          {% if link.image %}
            <span class="w1 h1 dib mr1">
            {{ link.image }}
          </span>
          {% endif %}
          {{ link.title }}
        </a>
      {% endfor %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <p class="small">
    {{ site.address }}
  </p>
</footer>
