.content {
  max-width: 960px;
  padding:24px;
}

.homepage-intro {
  padding:100px;
}

.homepage-intro dd {
  width: 700px;
}

.homepage-intro dl {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.is-small-screen .homepage-intro dl {
  flex-direction: column;
}

.is-small-screen .homepage-intro {
  padding:40px;
}

.is-small-screen .homepage-intro dd,
.is-small-screen .homepage-intro dt {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
