---
title: Our work
tagline: We don't just design and build websites. We also offer custom development
  and ongoing maintenance for existing sites. Check out some of of our work below.
layout: default
page-class: portfolio
permalink: "/portfolio/"
---

    {% include page-header.html %}
    <div class="o-wrapper">

{% assign posts = site.portfolio | where: "categories", "portfolio" %}

{% for post in posts reversed %}
  <section class="work">
    <div class="o-layout o-layout--huge">
      <div class="o-layout__item u-1/2@tablet u-1/2@wide">
					<header class="work__header">
							<h2 class="u-margin-bottom-none">{{ post.title }}</h2>
							<time class="u-margin-bottom-small">{{ post.date | date: "%b %Y" }}</time>
					</header>

          {{ post.excerpt }}
					<p>
						<a href="{{ post.url }}" class="o-btn">
							Read article
						</a>
					</p>
    </div><!--
  --><div class="o-layout__item u-1/2@tablet u-1/2@wide">
        <div class="handset">
          <img src="{{ post.image }}" />
        </div>
      </div>
    </div>
  </section>
{% endfor %}
</div>


{% include testimonials.html %}
