// Header styles
// Woot!

.masthead {
  @include inuit-clearfix();
  padding: $inuit-global-spacing-unit 0;


}

.page-header {
  background-color: $color-brand;
  text-align: center;
  padding: $inuit-global-spacing-unit;
}
