.main-nav {

  display: none;
  justify-content: space-between;

  @include mq($from: tablet) {
    display: flex;
    justify-content: flex-end;
    flex-grow:1;
  }
}

.main-nav__link + .main-nav__link {
  @include mq($from: tablet) {
    margin-left: $inuit-global-spacing-unit;
  }
}
.main-nav__link {
  display: inline-block;
  text-decoration:none;
  padding-top: $inuit-global-spacing-unit-small;
  padding-bottom: 9px;
  color: $color-gray;
  font-weight: 400;
  margin-bottom: inherit;
  border-bottom:3px solid transparent;
  transition: border 0.3s;
  flex-shrink: 0;
  display: flex;

  &:hover, &:active  {
    text-decoration: none;
    border-bottom:3px solid $color-orange;
  }

  &:hover, &:active {
    text-decoration: none;
    color: $color-orange;
  }
}

.about nav .about, .services nav .services, .portfolio nav .portfolio, .contact nav .contact {
  text-decoration: none;
  border-bottom:3px solid $color-orange;
  color: $color-orange;
}
