.hero {

  display: flex;
  align-items: center;

  @include mq($until: tablet) {
    flex-direction: column;
  }


}

.hero__image {

  svg {
    fill: $color-white;
    width: 270px;
    height: 270px;
  }
}
.hero__content {


  @include mq($until: tablet) {
    padding-top: $inuit-global-spacing-unit;
    padding-bottom: $inuit-global-spacing-unit;
  }

  @include mq($until: desktop) {
    padding: $inuit-global-spacing-unit;
  }

  @include mq(desktop) {
    padding: $inuit-global-spacing-unit-large;
  }

  @include mq(wide) {
    padding-left: $inuit-global-spacing-unit-huge;
    padding-right: $inuit-global-spacing-unit-huge;
  }


}

.hero__content-link {
  color: $color-gray-light;
}

.hero__title {
  font-weight: 300;
  @include mq($until: desktop) {
    @include inuit-font-size(20px);
    @include inuit-font-size(20px);
  }
}

.hero__tagline {
  font-weight: 300;
  @include inuit-font-size(20px);
}
