/*
 * Pretty icons
 * 1. Parent item needs to be position: relative for this to work
 */
.icon {
  vertical-align: text-bottom;
  display: inline-block;
}

svg {
  display:block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.icon--small {
  width: 1em;
  height: 1em;
}

.icon--medium {
  width: 2em;
  height: 2em;

}

.icon--large {
  width: 36px;
  height: 36px;
  fill: $color-black;
}
