.logo {
  color: $color-black;
  @include inuit-font-size(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.logo__image {
  svg {
    fill: $color-black;
  }
}
