.hero {
  display: flex;
  flex-direction: column-reverse;
  padding-top: $inuit-global-spacing-unit;
  padding-bottom: $inuit-global-spacing-unit;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.hero__image {
  flex-grow: 0;
}


.hero__content {

  flex-grow: 0;



}

.hero__content-link {
  color: $color-gray-light;
}

.hero__title {
  font-weight: 300;

  @include inuit-font-size($inuit-font-size-h4, $important: true);

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-h3, $important: true);
  }

  @include mq($from: desktop) {
    @include inuit-font-size($inuit-font-size-h2, $important: true);
  }
}

.hero__tagline {
  font-weight: 300;

  @include inuit-font-size($inuit-font-size-h3, $important: true);

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-h2, $important: true);
  }

  @include mq($from: desktop) {
    @include inuit-font-size($inuit-font-size-h1, $important: true);
  }


}
