/*
 * Pretty icons
 * 1. Parent item needs to be position: relative for this to work
 */
.icon {
  fill: $color-white;
  vertical-align: text-bottom;
}

.icon--small {
  width: 2em;
  height: 2em;
  fill: $color-black;
}

.icon--large {
  width: 36px;
  height: 36px;
  fill: $color-black;
}
