.main-nav {

  display: flex;
  justify-content: space-between;

  @include mq($from: tablet) {
    justify-content: flex-end;
    flex-grow:1;
  }
}

.main-nav__link {
  display: inline-block;
  text-decoration:none;
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-small 9px $inuit-global-spacing-unit-small ;
  color: $color-black;
  @include inuit-font-size(19.2px, 1.25);
  font-weight: 300;
    margin-bottom: inherit;
    border-bottom:3px solid transparent;
    transition: border 0.3s;

    &:hover, &:active,  {
      text-decoration: none;
      border-bottom:3px solid $color-orange;
    }


  &:hover, &:active {
    text-decoration: none;
    color: $color-orange;
  }
}

.about nav .about, .services nav .services, .work nav .portfolio, .contact nav .contact {
  text-decoration: none;
  border-bottom:3px solid $color-orange;
  color: $color-orange;
}
