.hero {
  display: flex;
  align-items: center;
}

.hero__image {
  @include mq($until: tablet) {
    display: none;
  }
  svg {
    fill: $color-white;
    width: 240px;
    height: 240px;
  }

}
.hero__content {


  @include mq($until: tablet) {
    padding-top: $inuit-global-spacing-unit;
    padding-bottom: $inuit-global-spacing-unit;
  }

  @include mq($from: tablet) {
    padding: $inuit-global-spacing-unit;
  }

  @include mq(desktop) {
    padding: $inuit-global-spacing-unit-large;
  }

  @include mq(wide) {
    padding-left: $inuit-global-spacing-unit-huge;
    padding-right: $inuit-global-spacing-unit-huge;
  }


}

.hero__content-link {
  color: $color-gray-light;
}

.hero__title {
  font-weight: 300;

  @include inuit-font-size($inuit-font-size-h4, $important: true);

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-h3, $important: true);
  }

  @include mq($from: desktop) {
    @include inuit-font-size($inuit-font-size-h2, $important: true);
  }
}

.hero__tagline {
  font-weight: 300;

  @include inuit-font-size($inuit-font-size-h3, $important: true);

  @include mq($from: tablet) {
    @include inuit-font-size($inuit-font-size-h2, $important: true);
  }

  @include mq($from: desktop) {
    @include inuit-font-size($inuit-font-size-h1, $important: true);
  }


}
