.handset {
  max-width: 360px;
  display:block;
  border-color: #999;
  border-radius: 36px 36px 0 0;
  border-style: solid;
  border-width: 60px 16px 0 16px;
}

.portfolio {}

.portfolio__header {
  border-bottom: 1px solid $color-gray;
  padding-bottom: $inuit-global-spacing-unit-small;
  margin-bottom: $inuit-global-spacing-unit;
}
