.main-nav {
  font-family: 'Open Sans', sans-serif;
  display:none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include mq($from: tablet) {
    display: flex;
    margin-left: $inuit-global-spacing-unit-large;
    flex-direction: row;
  }
}

.main-nav__link + .main-nav__link {
  border-top: solid 1px $color-gray;

  @include mq($from: tablet) {
    margin-left: $inuit-global-spacing-unit;
    border-top:none;
  }
}

.main-nav__link {
  @include inuit-font-size(16px, 4);
  display: block;
  transition: color 0.2s;
  @include mq($from: tablet) {
    display: inline-block;

  }

  text-decoration:none;
  color: $color-gray;
  margin-bottom: inherit;

  &:hover, &:active {
    text-decoration: none;
    color: $color-orange;
  }
}

.blog nav .blog, .about nav .about, .services nav .services, .portfolio nav .portfolio, .contact nav .contact {
  color: $color-orange;
}
