
.work {
  margin-bottom: $inuit-global-spacing-unit-large;
}

.work__header {
  border-bottom: 1px solid $color-gray;
  padding-bottom: $inuit-global-spacing-unit-small;
  margin-bottom: $inuit-global-spacing-unit;
}



.handset {
  max-width: 360px;
  display:block;
  border-color: $color-gray;
  box-shadow: 3px 3px 3px $color-gray;
  border-radius: 36px;
  border-style: solid;
  border-width: 60px 16px 60px 16px;


}
