.hero {

  position: relative;


}

.hero__image {

  background-size:cover;
  height: 300px;
  background-position: center;

  @include mq(tablet) {
    height: 372px;
  }

  @include mq(desktop) {
    height: 420px;
  }
}

.hero__content {


  @include mq($until: desktop) {
    padding: $inuit-global-spacing-unit;
  }

  @include mq(desktop) {
    padding: $inuit-global-spacing-unit-large;
  }

  @include mq(wide) {
    padding: $inuit-global-spacing-unit-huge $inuit-global-spacing-unit-huge $inuit-global-spacing-unit-huge calc((100vw - 1152px) / 2);
  }


}

.hero__content-link {
  color: $color-gray-light;
}

.hero__title {
  font-weight: 300;
  @include mq($until: desktop) {
    @include inuit-font-size(20px);
  }
}

.her__tagline {
  font-weight: 300;
  @include inuit-font-size(20px);

}
