---
layout: default
---
<header class="header header--homepage">

  {% include nav.html %}
  <div class="o-wrapper">
    <div class="center">
      <h5 class="white">
          <strong>Web design Hastings, East Sussex.</strong>
      </h5>
      	<h1 class="white">
          Hastings Digital <strong>design</strong> and <strong>build</strong> great looking, fast and affordable websites. Simple!
        </h1>
        <p class="center">
          <a href="/about" class="c-btn c-btn--ghost white">Learn more</a>
          <span class="white u-padding-left-tiny u-padding-right-tiny">or</span>
          <a href="/contact" class="c-btn c-btn--ghost white">Contact</a>
        </p>
    </div>
  </div>

</header>
<main class="" aria-label="Content" role="main">

{{ content }}
</main>
s
