---
layout: default
---
<header class="masthead masthead--blue">

  {% include nav.html %}
  <div class="o-wrapper">
    <div class="center u-padding-top-large u-padding-bottom">
      	<h1 class="white">
          Hastings Digital <strong>design</strong> and <strong>build</strong> great looking, fast and affordable websites. Simple!
        </h1>
        <h4 class="white">
          Web design Hastings, East Sussex.
        </h4>
        <p>
          <a href="/about" class="c-btn c-btn--primary">Learn more</a>
        </p>
    </div>
  </div>

</header>
<main aria-label="Content" role="main">

{{ content }}
</main>
