---
layout: default
---

<div class="mdl-grid mdl-grid--no-spacing">
  <section class="mdl-cell mdl-cell--12-col homepage-intro">
    <dl class="mdl-typography--body-1">
      <dt>Hasting Digital</dt>
      <dd>
        Hello, we're Hastings Digital a small team of developers and designers based in the East Sussex town of Hastings. We offer a range of <a href="/services">services</a> at affordable prices.
      </dd>
    </dl>
  </section>
</div>
<div class="wrapper">
<div class="mdl-grid">
<section class="mdl-cell mdl-card mdl-shadow--4dp mdl-color--contrast">
  <div class="">
  <div class="">
    <img src="https://placeholdit.imgix.net/~text?txtsize=20&bg=999999&txtclr=666666&txt=Image%20goes%20here&w=400&h=300" />
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  </div>
</div>
</section>
<section class="mdl-cell mdl-card mdl-shadow--4dp mdl-color--contrast">
  <div class="">
  <div class="mdl-card__media"><img src="skytower.jpg" width="173" height="157" border="0"
   alt="">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  </div>
</div>
</section>
<section class="mdl-cell mdl-card mdl-shadow--4dp mdl-color--contrast">
  <div class="">
  <div class="mdl-card__media"><img src="skytower.jpg" width="173" height="157" border="0"
   alt="">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  </div>
</div>
</section>
</div>
</div>
