---
layout: default
---

{% include page-header.html %}

<main class="u-padding-top-huge@desktop u-padding-bottom-huge@desktop" aria-label="Content" role="main">
  <article class="o-wrapper " itemtype="http://schema.org/BlogPosting">
    <div  itemprop="articleBody" class="u-2/3@desktop">
      {% if page.date %}
      <p class="u-margin-top-small u-margin-bottom-none" />
      <span class="small white">
        <time itemprop="datePublished">
          {{ page.date | date: "%d %b %Y" }}
        </time>
        {% if page.author %}
          &nbsp;|&nbsp;
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">
              <strong>
                {{ page.author }}
              </strong>
            </span>
          </span>
        {% endif %}
      </span>
      </p>
      {% endif %}
      {% assign author = site.authors | where: 'id', page.author-id | first %}
        {{ author.title }}
        {{ content }}
    </div>
  </article>
</main>

{% include testimonials.html %}
{% include cta/get-a-quote.html %}
