---
layout: default
---
<header class="masthead">
{% include nav.html %}
</header>
<main class="u-light-grey-bg" aria-label="Content" role="main">
  {% include page-header.html %}
<article class="o-wrapper u-margin-left-huge@desktop u-margin-right-huge@desktop u-padding-left-huge@desktop u-padding-right-huge@desktop" itemtype="http://schema.org/BlogPosting">
  <div  itemprop="articleBody" class="">
    {% if page.date %}
    <p class="u-margin-top-small u-margin-bottom-none" />
    <span class="small white">
      <time itemprop="datePublished">
        {{ page.date | date: "%d %b %Y" }}
      </time>
      {% if page.author %}
        &nbsp;|&nbsp;
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            <strong>
              {{ page.author }}
            </strong>
          </span>
        </span>
      {% endif %}
    </span>
    </p>
    {% endif %}
        {{ content }}
  </div>
</article>
</main>
{% include testimonials.html %}
