body {
  background-color: $color-white;
  color: $inuit-base-text-color;
  font-family: "Zilla Slab","Open Sans",X-LocaleSpecific,sans-serif;
  font-size: 112.5%;
  @include mq ($until: tablet) {
    @include inuit-font-size(16px, 24px);
  }

}
