blockquote.testimonial {
    font-weight: 400;
    font-style: italic;
    color: $color-black;
    text-align: center;
    margin: 0 auto;
    padding: $inuit-global-spacing-unit-small;

    @include mq($from: tablet) {
      max-width: 60%;
      padding: $inuit-global-spacing-unit;
    }

    @include mq($from: desktop) {
      max-width: 60%;
      padding: $inuit-global-spacing-unit-large;
      @include inuit-font-size(21px,2rem);
    }


    > footer {
      background-color: inherit;
      font-style: normal;
      font-weight: bold;
      color: $color-black;
    }
}
