// Header styles
// Woot!

.header {
  position: relative;

  &::after {
    z-index:100;
    content:"";
    position:absolute;
    left:0px;
    right:0px;
    bottom:-5px;
    width:100%;
    height:5px;
    pointer-events:none;
    box-shadow:inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    will-change:opacity;transition:opacity 0.4s;;

  }
}

.header__outer-wrapper {

  padding: $inuit-global-spacing-unit-small 0;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    padding: $inuit-global-spacing-unit 0;
    flex-direction: row;
  }

}

.header__inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu, .email {
  width: 24px;
  height: 24px;

  svg {
    display:block;
    width: 100%;
    height: 100%;
    fill: $color-gray-ui;
  }
  @include mq($from: tablet) {
    display:none;
  }
}

.header__call-to-action {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.page-header {
  background-color: $color-brand;
  padding-top: $inuit-global-spacing-unit;
  padding-bottom: $inuit-global-spacing-unit;
  margin-bottom: $inuit-global-spacing-unit;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }

}

.main-heading {
  @include mq($from: desktop){
    padding: $inuit-global-spacing-unit-large $inuit-global-spacing-unit-huge;
  }
  text-align: center;



}

.content {
  min-width: 300px;
  margin: 0 auto;

  @include mq($from: phablet) {
    width: 440px;
  }
  @include mq($from: tablet) {
    width: 720px;
  }
  @include mq($from: desktop) {
    width: 960px;
  }

}

.main-heading-container {
  @include mq($from: desktop){
    padding: $inuit-global-spacing-unit-large 0;
  }
}
