footer.footer {

  text-align: center;
  color:$color-white;
  background-color: $color-black;
  padding: $inuit-global-spacing-unit-small;

  @include mq($from: tablet) {
    padding: $inuit-global-spacing-unit;
  }


  a {
    color:$color-white;
    text-decoration: none;
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.footer__contact-link {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: $inuit-global-spacing-unit;

  @include mq($from: tablet) {
    padding-bottom: 0;
  }
}
