h1,h2,h3,h4,h5,h6 {
  color: $color-black;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

/*
 * Smaller headings for smaller screens
 */
h1 {
  @include mq($until: desktop) {
    @include inuit-font-size($inuit-font-size-h2);
  }
}
